<!-- ============================ Banner Section start =============================== -->
<div class="banner-two">
    <div class="container container-lg">
        <div class="banner-two-wrapper d-flex align-items-start">

            <div class="w-310 d-lg-block d-none flex-shrink-0">
                <div class="responsive-dropdown style-two common-dropdown nav-submenu p-0 submenus-submenu-wrapper shadow-none border border-neutral-50 position-relative border-top-0 rounded-0">
                    <button type="button" class="close-responsive-dropdown rounded-circle text-xl position-absolute inset-inline-end-0 inset-block-start-0 mt-4 me-8 d-lg-none d-flex"> <i class="ph ph-x"></i> </button>
    
                    <div class="logo px-16 d-lg-none d-block">
                        <a href="index.html" class="link">
                            <img src="assets/images/logo/logo.png" alt="Logo">
                        </a>
                    </div>
    
                    <ul class="responsive-dropdown__list scroll-sm p-0 overflow-y-auto">
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon1.png" alt="Category Icon">
                                    <span>Computers & Laptop</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Computers & Laptop</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon2.png" alt="Category Icon">
                                    <span>Smartphones & Gadget</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Smartphones & Gadget</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon3.png" alt="Category Icon">
                                    <span>Gaming & Television</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Gaming & Television</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon4.png" alt="Category Icon">
                                    <span>Office Equipment</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Office Equipment</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon5.png" alt="Category Icon">
                                    <span>Smartwatches</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Smartwatches</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon6.png" alt="Category Icon">
                                    <span>Headphone & Music</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Headphone & Music</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon7.png" alt="Category Icon">
                                    <span>Camera & Videos</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Camera & Videos</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon8.png" alt="Category Icon">
                                    <span>Accessories & Gadget</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title"> Accessories & Gadget</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon9.png" alt="Category Icon">
                                    <span>VR Technology</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">VR Technology</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon10.png" alt="Category Icon">
                                    <span>Studio Equipment</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Studio Equipment</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon11.png" alt="Category Icon">
                                    <span>Trending Products</span>
                                </span>
                                <span class=" bg-paste text-white text-xs py-2 px-8 rounded-4 flex-shrink-0">New</span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Trending Products</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-submenus-submenu border-bottom border-neutral-50">
                            <a href="javascript:void(0)" class="text-gray-500 text-15 py-14 px-16 flex-align gap-8 rounded-0 fw-semibold text-sm">
                                <span class="d-flex align-items-center gap-16">
                                    <img src="assets/images/icon/category-icon12.png" alt="Category Icon">
                                    <span>Top Offer Products</span>
                                </span>
                                <span class="icon text-md d-flex ms-auto"><i class="ph ph-caret-right"></i></span>
                            </a>
    
                            <div class="submenus-submenu py-16">
                                <h6 class="text-lg px-16 submenus-submenu__title">Top Offer Products</h6>
                                <ul class="submenus-submenu__list max-h-300 overflow-y-auto scroll-sm">
                                    <li>
                                        <a href="shop.html">Samsung</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Iphone</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Vivo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Oppo</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Itel</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Realme</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="banner-item-two-wrapper rounded-24 overflow-hidden position-relative arrow-center flex-grow-1 mb-0 m-20">
                <img src="assets/images/bg/banner-two-bg.png" alt="" class="banner-img position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1 object-fit-cover rounded-24">

                <div class="banner-item-two__slider">
                    <div class="d-flex align-items-center justify-content-between py-84 px-72-px flex-wrap-reverse flex-sm-nowrap gap-32">   
                        <div class="banner-item-two__content">
                            <span class="animate-left-right animation-delay-08 mb-8 text-md fw-semibold text-main-600">Starting at only <span class="text-danger-600">$250</span> </span>
                            <h2 class="banner-item-two__title animate-left-right animation-delay-1">Get The Sound You Love For Less</h2>
                            <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24 animate-left-right animation-delay-12">
                                Shop Now<span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i>   </span> 
                            </a>
                        </div>
                        <div class="banner-item-two__thumb">
                            <img src="assets/images/thumbs/banner-two-img.png" alt="Thumb" class="animate-scale animation-delay-12">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between py-84 px-72-px flex-wrap-reverse flex-sm-nowrap gap-32">   
                        <div class="banner-item-two__content">
                            <span class="animate-left-right animation-delay-08 mb-8 text-md fw-semibold text-main-600">Starting at only <span class="text-danger-600">$250</span> </span>
                            <h2 class="banner-item-two__title animate-left-right animation-delay-1">Get The Sound You Love For Less</h2>
                            <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24 animate-left-right animation-delay-12">
                                Shop Now<span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i>   </span> 
                            </a>
                        </div>
                        <div class="banner-item-two__thumb">
                            <img src="assets/images/thumbs/banner-two-img.png" alt="Thumb" class="animate-scale animation-delay-12">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between py-84 px-72-px flex-wrap-reverse flex-sm-nowrap gap-32">   
                        <div class="banner-item-two__content">
                            <span class="animate-left-right animation-delay-08 mb-8 text-md fw-semibold text-main-600">Starting at only <span class="text-danger-600">$250</span> </span>
                            <h2 class="banner-item-two__title animate-left-right animation-delay-1">Get The Sound You Love For Less</h2>
                            <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24 animate-left-right animation-delay-12">
                                Shop Now<span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i>   </span> 
                            </a>
                        </div>
                        <div class="banner-item-two__thumb">
                            <img src="assets/images/thumbs/banner-two-img.png" alt="Thumb" class="animate-scale animation-delay-12">
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
<!-- ============================ Banner Section End =============================== -->