<!-- ============================ Banner Section start =============================== -->
<div class="banner">
    <div class="container container-lg">
        <div class="banner-slider">
            <div class="banner-item position-relative rounded-24 overflow-hidden">
                <img src="assets/images/thumbs/banner-bg.png" alt="" class="banner-img position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 z-n1 object-fit-cover">
                <h1 class="banner-item__title">Daily Grocery Order and Get Express Delivery</h1>
                <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8">
                    Explore Shop <span class="icon text-xl d-flex"><i class="ph ph-shopping-cart-simple"></i>   </span> 
                </a>
            </div>  

        </div>
    </div>
</div>
<!-- ============================ Banner Section End =============================== -->