<!-- ========================= Discount Three Start ================================ -->
<section class="discount-three">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6">
                <div class="discount-three-item bg-img rounded-16 overflow-hidden" data-background-image="assets/images/thumbs/discount-three-img1.png">
                    <div class="text-start">
                        <span class="mb-24">Free Shipping Over Order $150</span>
                        <h2 class="fw-medium mb-0 max-w-375">Woman Spring Collection</h2>
                        <a href="shop.html" class="btn btn-outline-white d-inline-flex align-items-center rounded-pill gap-8 mt-48" tabindex="0">
                            Explore Now 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="discount-three-item bg-img rounded-16 overflow-hidden" data-background-image="assets/images/thumbs/discount-three-img2.png">
                    <div class="text-start">
                        <span class="mb-24">Men Fashion Discover</span>
                        <h2 class="fw-medium mb-0 max-w-375">New Style Sale 35% Off</h2>
                        <a href="shop.html" class="btn btn-outline-white d-inline-flex align-items-center rounded-pill gap-8 mt-48" tabindex="0">
                            Explore Now 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="discount-three-item bg-img rounded-16 overflow-hidden" data-background-image="assets/images/thumbs/discount-three-img3.png">
                    <div class="text-start">
                        <span class="mb-24">Men Fashion Discover</span>
                        <h2 class="fw-medium mb-0 max-w-375">New Style Sale 35% Off</h2>
                        <a href="shop.html" class="btn btn-outline-white d-inline-flex align-items-center rounded-pill gap-8 mt-48" tabindex="0">
                            Explore Now 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
<!-- ========================= Discount Three End ================================ -->