<!-- ============================ Feature Three Section start =============================== -->
<div class="feature feature-three mt-0 py-120" id="featureSection">
    <div class="container container-lg">
        <div class="section-heading text-center">
            <h5 class="mb-0 wow bounceIn text-uppercase">Popular Categories</h5>
        </div>
        <div class="position-relative arrow-center">
            <div class="flex-align">
                <button type="button" id="feature-item-wrapper-prev" class="slick-prev slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1" >
                    <i class="ph ph-caret-left"></i>
                </button>
                <button type="button" id="feature-item-wrapper-next" class="slick-next slick-arrow flex-center rounded-circle bg-white text-xl hover-bg-main-600 hover-text-white transition-1" >
                    <i class="ph ph-caret-right"></i>
                </button>
            </div>
            <div class="feature-three-item-wrapper">
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-yellow-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img1.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Men's Fashion</a></h6>
                        <span class="text-sm text-gray-900">180 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-danger-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img2.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Women's Fashion</a></h6>
                        <span class="text-sm text-gray-900">220 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-purple-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img3.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Kid’s Fashion</a></h6>
                        <span class="text-sm text-gray-900">205 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-danger-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img4.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Fashion Glass</a></h6>
                        <span class="text-sm text-gray-900">68 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-warning-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img5.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Shoes Collection</a></h6>
                        <span class="text-sm text-gray-900">190 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb bg-success-light max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img6.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Bag Collection</a></h6>
                        <span class="text-sm text-gray-900">128 Items</span>
                    </div>
                </div>
                <div class="feature-item text-center" data-aos="zoom-in" data-aos-duration="800">
                    <div class="feature-item__thumb max-w-260 max-h-260 rounded-circle w-100 h-100">
                        <a href="shop.html" class="w-100 h-100 flex-center">
                            <img src="assets/images/thumbs/features-three-img3.png" alt="">
                        </a>
                    </div>
                    <div class="feature-item__content mt-20">
                        <h6 class="text-lg mb-8"><a href="shop.html" class="text-inherit">Men's Fashion</a></h6>
                        <span class="text-sm text-gray-900">180 Items</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Feature Three Section End =============================== -->