<!-- ========================= flash sales Start ================================ -->
<section class="flash-sales pt-80">
    <div class="container container-lg">
        <div class="section-heading">
            <div class="flex-between flex-wrap gap-8">
                <h5 class="mb-0">Flash Sales Today</h5>
                <a href="shop.html" class="text-sm fw-medium text-gray-700 hover-text-main-600 hover-text-decoration-underline">View All Deals</a>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="flash-sales-item rounded-16 overflow-hidden z-1 position-relative flex-align flex-0 justify-content-between gap-8">
                    <img src="assets/images/bg/flash-sale-bg1.png" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 object-fit-cover z-n1 flash-sales-item__bg">
                    <div class="flash-sales-item__thumb">
                        <img src="assets/images/thumbs/flash-sale-img1.png" alt="">
                    </div>
                    <div class="flash-sales-item__content ms-auto">
                        <h6 class="text-32 mb-20">Fresh Vegetables</h6>
                        <div id="countdown">
                            <ul class="countdown-list flex-align flex-wrap">
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="days"></span>Days</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="hours"></span>Hour</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="minutes"></span>Hour</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="seconds"></span>Sec</li>
                            </ul>
                        </div>
                        <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24">
                            Shop Now
                            <span class="icon text-xl d-flex"><i class="ph ph-arrow-right"></i></span> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="flash-sales-item rounded-16 overflow-hidden z-1 position-relative flex-align flex-0 justify-content-between gap-8">
                    <img src="assets/images/bg/flash-sale-bg2.png" alt="" class="position-absolute inset-block-start-0 inset-inline-start-0 w-100 h-100 object-fit-cover z-n1 flash-sales-item__bg">
                    <div class="flash-sales-item__thumb">
                        <img src="assets/images/thumbs/flash-sale-img2.png" alt="">
                    </div>
                    <div class="flash-sales-item__content ms-auto">
                        <h6 class="text-32 mb-20">Daily Snacks</h6>
                        <div id="countdown">
                            <ul class="countdown-list flex-align flex-wrap">
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="days"></span>Days</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="hours"></span>Hour</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="minutes"></span>Hour</li>
                                <li class="countdown-list__item text-heading flex-align gap-4 text-sm fw-medium"><span id="seconds"></span>Sec</li>
                            </ul>
                        </div>
                        <a href="shop.html" class="btn btn-main d-inline-flex align-items-center rounded-pill gap-8 mt-24">
                            Shop Now
                            <span class="icon text-xl d-flex"><i class="ph ph-arrow-right"></i></span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= flash sales End ================================ -->