<!-- ======================= Middle Header Start ========================= -->
<header class="header bg-neutral-100">
    <div class="container container-two">
        <nav class="header-inner flex-between">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->


            <!-- Header Middle Start -->
            
            <!-- Header Middle start -->
             

            <!-- Header Right start -->
            <div class="header-right flex-align">
                <a href="register.html" class="btn btn-main btn-sm d-lg-block d-none">Login 
                    <span class="icon-right icon"> 
                        <i class="las la-user"></i>
                    </span> 
                </a>
                <button type="button" class="toggle-mobileMenu d-lg-none ms-3"> <i class="las la-bars"></i> </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ======================= Middle Header End ========================= -->