<!-- ======================= Middle Top Start ========================= -->
<div class="header-top bg-main-600 py-8 flex-between">
    <div class="container">
        <div class="flex-between flex-wrap gap-8">
            <ul class="flex-align flex-wrap">
                <li class="border-right-item"><a href="#" class="text-white text-sm">Become A Seller</a></li>
                <li class="border-right-item"><a href="#" class="text-white text-sm">About us</a></li>
                <li class="border-right-item"><a href="#" class="text-white text-sm">Free Delivery</a></li>
                <li class="border-right-item"><a href="#" class="text-white text-sm">Returns Policy</a></li>
            </ul>
            <ul class="flex-align flex-wrap">
                <li class="border-right-item border-right-item-sm-space has-submenu arrow-white"><a href="#" class="text-white text-sm">Help Center</a></li>
                <li class="border-right-item border-right-item-sm-space has-submenu arrow-white"><a href="#" class="text-white text-sm">Eng</a></li>
                <li class="border-right-item border-right-item-sm-space has-submenu arrow-white"><a href="#" class="text-white text-sm">USD</a></li>
                <li class="border-right-item">
                    <a href="#" class="text-white text-sm flex-align gap-6"> <span class="icon text-xs"> <i class="fas fa-user"></i></span> My Account </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ======================= Middle Top End ========================= -->