<!-- =============================== Shop Section Start ======================================== -->
 <section class="shop py-80">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Product Category</h6>
                        <ul>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Mobile & Accessories (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Laptop (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Electronics (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Smart Watch (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Storage (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Portable Devices (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Action Camera (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Smart Gadget (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Monitor  (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Smart TV (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Camera (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Monitor Stand (12)</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">Headphone (12)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Filter by Price</h6>
                      
                    </div>
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Filter by Rating</h6>
                        <div class="flex-align gap-8 position-relative mb-20">
                            <label class="position-absolute w-100 h-100 cursor-pointer" for="rating5"> </label>
                            <div class="common-check common-radio mb-0">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="rating5">
                            </div>
                            <div class="progress w-100 bg-gray-100 rounded-pill h-8" role="progressbar" aria-label="Basic example" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 70%"></div>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <span class="text-gray-900 flex-shrink-0">124</span>
                        </div>
                        <div class="flex-align gap-8 position-relative mb-20">
                            <label class="position-absolute w-100 h-100 cursor-pointer" for="rating4"> </label>
                            <div class="common-check common-radio mb-0">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="rating4">
                            </div>
                            <div class="progress w-100 bg-gray-100 rounded-pill h-8" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 50%"></div>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <span class="text-gray-900 flex-shrink-0">52</span>
                        </div>
                        <div class="flex-align gap-8 position-relative mb-20">
                            <label class="position-absolute w-100 h-100 cursor-pointer" for="rating3"> </label>
                            <div class="common-check common-radio mb-0">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="rating3">
                            </div>
                            <div class="progress w-100 bg-gray-100 rounded-pill h-8" role="progressbar" aria-label="Basic example" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 35%"></div>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <span class="text-gray-900 flex-shrink-0">12</span>
                        </div>
                        <div class="flex-align gap-8 position-relative mb-20">
                            <label class="position-absolute w-100 h-100 cursor-pointer" for="rating2"> </label>
                            <div class="common-check common-radio mb-0">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="rating2">
                            </div>
                            <div class="progress w-100 bg-gray-100 rounded-pill h-8" role="progressbar" aria-label="Basic example" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 20%"></div>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <span class="text-gray-900 flex-shrink-0">5</span>
                        </div>
                        <div class="flex-align gap-8 position-relative mb-0">
                            <label class="position-absolute w-100 h-100 cursor-pointer" for="rating1"> </label>
                            <div class="common-check common-radio mb-0">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="rating1">
                            </div>
                            <div class="progress w-100 bg-gray-100 rounded-pill h-8" role="progressbar" aria-label="Basic example" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-main-600 rounded-pill" style="width: 5%"></div>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-xs fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-xs fw-medium text-gray-400 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <span class="text-gray-900 flex-shrink-0">2</span>
                        </div>
                    </div>
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Product Category</h6>
                        <ul>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Product Category</h6>
                        <ul>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-sidebar__box border border-gray-100 rounded-8 p-32 mb-32">
                        <h6 class="text-xl border-bottom border-gray-100 pb-24 mb-24">Product Category</h6>
                        <ul>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                            <li class="mb-24">
                                <a href="product-details-two.html" class="text-gray-900 hover-text-main-600">MobileAccessories</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9">

            </div>
        </div>
    </div>
 </section>
<!-- =============================== Shop Section End ======================================== -->