<!-- ============================== Testimonial section start ======================= -->
 <section class="testimonials py-120 bg-neutral-600 bg-img" data-background-image="assets/images/bg/pattern-two.png">
    <div class="container container-lg">
        <div class="row gy-4 align-items-center">
            <div class="col-xl-1">
                <div class="section-heading mb-0 d-flex flex-column align-items-center writing-mode">
                    <p class="text-white">Share information about your brand with your customers.</p>
                    <h5 class="text-white mb-0 text-uppercase">Trending Products</h5>
                </div>
            </div>
            <div class="col-xl-11">
                <div class="position-relative">
                    <div class="testimonials-slider mb-60">
                        <div class="testimonials-item">
                            <h6 class="text-white text-uppercase mb-8 fw-medium">ROBIUL HASAN</h6>
                            <span class="text-md text-white fw-normal">Business Owner</span>
                            <div class="flex-align gap-8 mt-24">
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <p class="testimonials-item__desc text-white text-2xl fw-normal mt-40 max-w-990">Customers expressed that shopping at Asiana Fashion was a "delightful experience," highlighting the vibrant colors and unique designs that made them feel special at events  </p>
                        </div>
                        <div class="testimonials-item">
                            <h6 class="text-white text-uppercase mb-8 fw-medium">SAMIYA AKTER</h6>
                            <span class="text-md text-white fw-normal">Front End Developer</span>
                            <div class="flex-align gap-8 mt-24">
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <p class="testimonials-item__desc text-white text-2xl fw-normal mt-40 max-w-990">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</p>
                        </div>
                        <div class="testimonials-item">
                            <h6 class="text-white text-uppercase mb-8 fw-medium">JOHN DOE</h6>
                            <span class="text-md text-white fw-normal">Max Model</span>
                            <div class="flex-align gap-8 mt-24">
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <p class="testimonials-item__desc text-white text-2xl fw-normal mt-40 max-w-990">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'</p>
                        </div>
                        <div class="testimonials-item">
                            <h6 class="text-white text-uppercase mb-8 fw-medium">MICHEL SMITH</h6>
                            <span class="text-md text-white fw-normal">Former Model</span>
                            <div class="flex-align gap-8 mt-24">
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <p class="testimonials-item__desc text-white text-2xl fw-normal mt-40 max-w-990">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                        </div>
                        <div class="testimonials-item">
                            <h6 class="text-white text-uppercase mb-8 fw-medium">ALEX</h6>
                            <span class="text-md text-white fw-normal">Back End Developer</span>
                            <div class="flex-align gap-8 mt-24">
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-15 fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                            </div>
                            <p class="testimonials-item__desc text-white text-2xl fw-normal mt-40 max-w-990">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                        </div>
                    </div>
                    <div class="testimonials-thumbs-slider">
                        <div class="testimonials-thumbs d-flex position-relative">
                            <img src="assets/images/thumbs/testimonials-img1.png" alt="" class="cover-img">
                            <div class="testimonials-thumbs__content position-absolute bottom-0 start-50 translate-middle-x mb-16 text-center hidden opacity-0">  
                                <h6 class="text-white text-uppercase mb-8 fw-medium">ROBIUL HASAN</h6>
                                <span class="text-md text-white fw-normal">Business Owner</span>
                            </div>
                        </div>
                        <div class="testimonials-thumbs d-flex position-relative">
                            <img src="assets/images/thumbs/testimonials-img2.png" alt="" class="cover-img">
                            <div class="testimonials-thumbs__content position-absolute bottom-0 start-50 translate-middle-x mb-16 text-center hidden opacity-0">  
                                <h6 class="text-white text-uppercase mb-8 fw-medium">SAMIYA AKTER</h6>
                                <span class="text-md text-white fw-normal">Front End Developer</span>
                            </div>
                        </div>
                        <div class="testimonials-thumbs d-flex position-relative">
                            <img src="assets/images/thumbs/testimonials-img3.png" alt="" class="cover-img">
                            <div class="testimonials-thumbs__content position-absolute bottom-0 start-50 translate-middle-x mb-16 text-center hidden opacity-0">  
                                <h6 class="text-white text-uppercase mb-8 fw-medium">JOHN DOE</h6>
                                <span class="text-md text-white fw-normal">Max Model</span>
                            </div>
                        </div>
                        <div class="testimonials-thumbs d-flex position-relative">
                            <img src="assets/images/thumbs/testimonials-img4.png" alt="" class="cover-img">
                            <div class="testimonials-thumbs__content position-absolute bottom-0 start-50 translate-middle-x mb-16 text-center hidden opacity-0">  
                                <h6 class="text-white text-uppercase mb-8 fw-medium">MICHEL SMITH</h6>
                                <span class="text-md text-white fw-normal">Former Model</span>
                            </div>
                        </div>
                        <div class="testimonials-thumbs d-flex position-relative">
                            <img src="assets/images/thumbs/testimonials-img2.png" alt="" class="cover-img">
                            <div class="testimonials-thumbs__content position-absolute bottom-0 start-50 translate-middle-x mb-16 text-center hidden opacity-0">  
                                <h6 class="text-white text-uppercase mb-8 fw-medium">ALEX</h6>
                                <span class="text-md text-white fw-normal">Back End Developer</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex-center gap-8 mt-48">
            <button type="button" id="testi-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 text-white transition-1">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="testi-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 text-white transition-1">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
    </div>
 </section>
<!-- ============================== Testimonial section start ======================= -->