// width height
@each $property, $value in $spaces {
    .w-#{$property} {
      width: $value !important;
    }
}

.w {
  &-300 {
    width: 300px !important;
  }
}

@each $property, $value in $spaces {
    .h-#{$property} {
      height: $value !important;
    }
}

.max-h {
  &-unset {
    max-height: unset !important;
  }
  &-200 {
    max-height: 200px !important;
  }
  &-300 {
    max-height: 300px !important;
  }
  &-400 {
    max-height: 400px !important;
  }
}

.max-w-unset {
    max-width: unset !important;
}


.top-n6 {
  inset-block-start: -6px;
}

.end-n4 {
  inset-inline-end: -6px;
}
