/* ======================== mobile navbar Start ============================= */
.mobile-sticky-navbar {
    position: fixed;
    width: 100%;
    background-color: var(--main-600);
    z-index: 3;
    inset-inline-start: 0;
    inset-block-end: 0;
    bottom: 0;
    color: #fff;

    .select2-selection {
        justify-content: start !important;
    }
    .select2-container {
        width: 100% !important;
        .selection {
            width: inherit;
        }
    }
    .search-form {
        height: 40px !important;
        .select2-selection__rendered {
            color: #444;
            line-height: 28px;
            font-size: 14px;
        }
    }
    .location-box {
        height: 40px;
        .select2-selection__rendered {
            font-size: 12px;
        }
    }
}
/* ======================== mobile navbar End ============================= */